@page "/dashboard/services"
@layout DashboardLayout
@attribute [Authorize]

@using PartyWebAppClient.Layout
@using System.Text.Json
@using PartyWebAppClient.Components.Dashboard

<PageTitle>PartyWebApp - Services</PageTitle>

<AuthorizeView>
    <h1 class="font-monospace mt-5">Services</h1>

    @* here we should be able to see our events and buy repours for them *@

</AuthorizeView>
