@namespace PartyWebAppClient.Pages.Dashboard

@page "/dashboard"
@layout DashboardLayout
@attribute [Authorize]

@using PartyWebAppClient.Layout
@using System.Text.Json
@using PartyWebAppClient.Components.Dashboard

<PageTitle>PartyWebApp - Dashboard</PageTitle>

<AuthorizeView>
    <h1 class="font-monospace mt-5">Hello, @context.User.FindFirst("Username")!.Value</h1>

    <Wallets />
</AuthorizeView>
