@page "/dashboard/events"
@using PartyWebAppCommon.DTOs
@using PartyWebAppClient.Components.Dashboard
@using PartyWebAppClient.Layout
@layout DashboardLayout
@attribute [Authorize]
@inject IStringLocalizer<Resources> Localize;


<h2 class="font-monospace text-center mt-4 mb-2">@Localize["Events"]</h2>

<FluentCard class="mb-3">
    <h3 class="text-left mb-0 font-monospace">@Localize["CurrentEvents"]</h3>
</FluentCard>
<div class="mb-5 row g-2">
    @foreach(EventDTO eventItem in CurrentEvents)
    {
    <div class="col-md-4">
        <EventCard Event="eventItem" />
    </div>
    }
</div>

<FluentCard class="mb-3">
    <h3 class="text-left mb-0 font-monospace">@Localize["UpcomingEvents"]</h3>
</FluentCard>
<div class="mb-5 row g-2">
    @foreach(EventDTO eventItem in FutureEvents)
    {
    <div class="col-md-4">
        <EventCard Event="eventItem" />
    </div>
    }
</div>


<FluentCard class="mb-3">
    <h3 class="text-left mb-0 font-monospace">@Localize["PastEvents"]</h3>
</FluentCard>
<div class="mb-5 row g-2">
    @foreach(EventDTO eventItem in PastEvents)
    {
    <div class="col-md-4">
        <EventCard Event="eventItem" />
    </div>
    }
</div>
