@page "/dashboard/events"
@using PartyWebAppCommon.DTOs
@using PartyWebAppClient.Components.Dashboard


<h3>EventIndex</h3>


@foreach(EventDTO eventItem in Events)
{
    <EventCard Event="eventItem"/>
}