@namespace PartyWebAppClient.Pages.Admin

@page "/admin"
@layout AdminLayout
@attribute [Authorize]

@using PartyWebAppClient.Layout.AdminLayout

<PageTitle>PartyWebApp - Admin</PageTitle>

<h1>Admin menu</h1>

@code {
    
}